<nav class="barnav">
    <ul id="nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/exos">Exercices</a></li>
        <li><a href="/countriesdb">Les pays</a></li>
        <li><a href="/users_pop">Les utilisateurs avec les pays</a></li>
        <li><a href="/formations">Formations</a></li>
    </ul>
</nav>