body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 18px;
}
.barnav {
  width: 100%;
}
#nav{
  margin:0;
  padding:0;
}
nav ul {
  display:flex;
}
li{
  list-style-type: none;
  margin-right: 20px;
}
footer{
  justify-content: space-around;
  background-color: steelblue;
  color:#fff;
  position: absolute;
  bottom: 0;
}
footer > p{
  max-width: 40%;

}